@model dynamic
@{
    ViewBag.Title = "Ferramentas Utilizadas";
    Layout = "../Shared/_Layout.cshtml";
}
<div class="content">
    <div class="container">
        <div class="page-header">
            <h1>
                Ferramentas Utilizadas</h1>
            <p>
                Procuramos utilizar as melhores tecnologias do mercado, 
                prezando pela vida útil das ferramentas, o suporte a elas e
                <br />
                o uso de softwares livres ou gratuitos, assim, reduzindo o gasto 
                em nossos projetos para atingirmos uma parceria de sucesso.
                <br /><br />
                Conheça-as:
                <br /><br />
                <img alt="" src="../../Content/img/VisualStudio2010.jpg" class="img-circle logo-ferramenta"/>
                <a href="http://www.microsoft.com/visualstudio/ptb">Microsoft Visual Studio.</a> 
                <br /> 
                Nossa IDE de desenvolvimento, com diversas ferramentas de produtividade para melhorar nossa performance.
                <br /><br />
                <img alt="" src="../../Content/img/github.jpg" class="img-circle logo-ferramenta"/>
                <a href="https://github.com/">GitHub.</a>
                <br />
                Nosso versionador de código, mantendo do início ao fim nosso trabalho e mostrando o progresso do mesmo.
                <br /><br />
                <img alt="" src="../../Content/img/prezi.png" class="img-circle logo-ferramenta"/>
                <a href="http://prezi.com/">Prezi</a>
                <br />
                Nossa principal ferramenta de apresentações, fácil de utilizar e integração a páginas web.
                <br /><br />
                <img alt="" src="../../Content/img/GoogleDrive.jpg" class="img-circle logo-ferramenta"/>
                <a href="http://drive.google.com/">Google Drive</a>
                <br />
                Nosso arquivo na nuvem, onde mantemos relatórios, estatísticas, documentos e todo outro tipo de arquivo desejado.
            </p>
        </div>
    </div>
</div>
