<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="Database" value="MySQL" />
    <add key="TamanhoMinimoSenha" value="8" />
    <add key="TamanhoMaximoSenha" value="12" />
    <add key="DiasParaExpirarSenha" value="30" />
    <add key="AssembliesFolder" value="" />
    <add key="TamanhoMaximoSalvarArquivoNoBanco" value="10485760"/>
  </appSettings>
  
  <connectionStrings>
    <!--<add name="SQLServerConn" connectionString="Data Source=localhost\SqlServer2013; Database=tg; User ID=satg; Password=Sql2013" providerName="System.Data.SqlClient"/>-->
    <add name="MySQLConn" connectionString="Server=localhost; Database=tg; Uid=root; Pwd=mysql"/>
    <!--<add name="MySQLConn" connectionString="Server=dbmy0044.whservidor.com; Database=gustavoama1; Uid=gustavoama1; Pwd=tg2013DGGV"/>-->
  </connectionStrings>

</configuration>
