<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="Database" value="SQLServer" />
    <add key="TamanhoMinimoSenha" value="8" />
    <add key="TamanhoMaximoSenha" value="12" />
    <add key="DiasParaExpirarSenha" value="30" />
    <add key="AssembliesFolder" value="" />
    <add key="TamanhoMaximoSalvarArquivoNoBanco" value="10485760"/>
  </appSettings>
  
  <connectionStrings>
    <add name="SQLServerConn" connectionString="Data Source=localhost\SQLSERVER2008R2; Database=TesteExemplo; User ID=sqlServer; Password=sql2008" providerName="System.Data.SqlClient"/>

  </connectionStrings>

</configuration>