@model dynamic

@{
    ViewBag.Title = "Login";
    Layout = "../Shared/_Layout.cshtml";
}

@section head
{
    <script src="@Url.Content("~/Scripts/Login/login-cliente.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/css/geral.css")" rel="stylesheet" type="text/css" />
}

<div class="container">
    <div class="page-header">
        <h1>Cadastro</h1>
    </div>
    <div class="row">
        <div class="cadastro">
            <div class="span6">
                <label>Nome</label>            
                <input type="text" class="input-xxlarge" name="nome" placeholder="Nome">

                <label>CNPJ</label>            
                <input type="text" class="input-xxlarge" name="cnpj" placeholder="CNPJ">

                <label>Responsável</label>            
                <input type="text" class="input-xxlarge"  name="responsavel" placeholder="Responsável (Nome)">

                <label>Email</label>
                <input type="text" class="input-xxlarge" name="email" placeholder="Email">

                <label>Telefone</label>
                <input type="text" class="input-xxlarge" name="telefone" placeholder="Telefone">

                <label>Senha</label>
                <input type="password" class="input-xlarge" name="senha" placeholder="Senha">

                <label>Confirmação da Senha</label>
                <input type="password" class="input-xlarge" name="senha_confirmacao" placeholder="Confirmação da Senha">
            </div>
            <div class="span4 well">
                <label><strong>Foto</strong></label>
                <hr />
                <div class="row">
                    <div class="row center-align">
                        <img src="@ViewBag.ImagemUsuario" width="80" height="100" alt="Foto" id="fotoPreview" name="fotoPreview" class="foto-preview" style="text-align:center;"></img>
                    </div>
        
                    <br style="clear: both;" />
                    <br style="clear: both;" />
                    <div id="buttons">
                        <div class="span0">
                            <a href="javascript:void(0)" class="btn btn-crop btn-warning pull-left" id="foto-upload">Upload</a>
                        </div> 
                        <div class="span0">
                            <a class="btn btn-crop btn-warning pull-left" href="javascript:void(0)" id="remove-foto">Remover foto</a>
                        </div>
                    </div>
                </div>                        
            </div>
        </div>
    </div>
    <div class="row">
        <input value="Salvar" class="btn btn-primary btn-small pull-right">
    </div>   
    <br class="clearfix"/>
</div>





