@{
    Layout = "../Shared/_Layout.cshtml";
}
@section head
{
    <link href="@Url.Content("~/Content/css/geral.css")" rel="stylesheet" type="text/css" />
}
<div class="container">
    <div class="page-header">
        <h2>
            Erro</h2>
    </div>
    @*<img src=@Url.Content("~/Content/img/ops.jpg") alt="Erro" />*@
    <p>
        Desculpe-nos,<br /> 
        ocorreu um erro enquanto processavamos sua solicitação.<br />
        Tente novamente o acesso daqui a poucos minutos.<br /><br />
    </p>
</div>