@model dynamic

@{
    ViewBag.Title = "Home";
    Layout = "../Shared/_Layout.cshtml";
}

@section head
{
    <script src="@Url.Content("~/Scripts/Home/home.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
}

<div class="content">
    <div class="slider">
        <div class="container-fluid">
            <div id="heroSlider" class="carousel slide">
                <div class="carousel-inner home">
                  
                    <div class="active item">
                        <div class="hero-unit">
                            <div class="row-fluid">
                                <div class="span7 marketting-info">
                                    <h1>VemKa</h1>
                                    <p>
                                        Ainda assim, existem dúvidas a respeito de como a crescente influência da mídia 
                                        obstaculiza a apreciação da importância das direções preferenciais no sentido do progresso.
                                    </p>
                                    <h3>
                                        <a href="#" class="btn">Ler mais</a>
                                    </h3>                      
                                </div>
                                <div class="span5">
                                    <img src=@Url.Content("~/Content/img/breezi_placeit_Promocoes.png") class="thumbnail">
                                </div>
                            </div>                  
                        </div>
                    </div>

                    <div class="item">
                        <div class="hero-unit">
                            <div class="row-fluid">
                                <div class="span7 marketting-info">
                                    <h1>A Lotus Tecnologia</h1>
                                    <p>
                                        É claro que a estrutura atual da organização agrega 
                                        valor ao estabelecimento dos procedimentos normalmente adotados.
                                    </p>
                                    <h3>
                                        <a href="#" class="btn">Ler mais</a>
                                    </h3>                      
                                </div>
                                <div class="span5">
                                    <img src=@Url.Content("~/Content/img/LogoLotusTecnologia.jpg") class="thumbnail">
                                </div>
                            </div>                  
                        </div>
                    </div>
                    
                    <div class="item">
                        <div class="hero-unit">
                            <div class="row-fluid">
                                <div class="span7 marketting-info">
                                    <h1>Métodologias de criação</h1>
                                    <p>
                                        O empenho em analisar a contínua expansão de nossa atividade 
                                        estende o alcance e a importância das formas de ação.
                                    </p>
                                    <h3>
                                        <a href="#" class="btn">Ler mais</a>
                                    </h3>                      
                                </div>
                                <div class="span5">
                                    <img src=@Url.Content("~/Content/img/scrum.jpg")  class="thumbnail">
                                </div>
                            </div>                  
                        </div>
                    </div>
 
                </div>
                <a class="left carousel-control" href="#heroSlider" data-slide="prev">‹</a>
                <a class="right carousel-control" href="#heroSlider" data-slide="next">›</a>
            </div>

        </div>
    </div>
</div>
