@model dynamic
@{
    ViewBag.Title = "Metodologia de Desenvolvimento";
    Layout = "../Shared/_Layout.cshtml";
}
<div class="content">
    <div class="container">
        <div class="page-header">
            <h1>
                Metodologia de Desenvolvimento</h1>
            <p>
                <img alt="" src="../../Content/img/scrum-logo.jpg" class="img-rounded" style="float: right;"/>
                A palavra da vez é <a href="https://www.scrum.org/‎">SCRUM.</a>
                <br />
                <br />
                Scrum é uma metodologia ágil para gestão e planejamento de projetos de software.
                <br /><br />
                No Scrum, os projetos são dividos em ciclos (2 a 4 semanas) chamados de Sprints.
                <br />
                O Sprint representa um Time Box dentro do qual um conjunto de atividades deve ser
                executado.
                <br /><br />
                Metodologias ágeis de desenvolvimento de software são iterativas, ou seja,
                <br />
                o trabalho é dividido em iterações, que são chamadas de Sprints no caso do Scrum.
                <br /><br />
                As funcionalidades a serem implementadas em um projeto são mantidas em
                <br />
                uma lista que é conhecida como Product Backlog.
                <br /><br />
                No início de cada Sprint, faz-se um Sprint Planning Meeting, ou seja,
                <br />
                uma reunião de planejamento na qual o Product Owner prioriza os itens do Product
                Backlog
                <br />
                e a equipe seleciona as atividades que ela será capaz de implementar durante o Sprint
                que se inicia.
                <br /><br />
                As tarefas alocadas em um Sprint são transferidas do Product Backlog para o Sprint
                Backlog.
                <br />
                A cada dia de uma Sprint, a equipe faz uma breve reunião (normalmente no início do ciclo de trabalho diário),
                chamada Daily Scrum.
                <br />
                O objetivo é disseminar conhecimento sobre o que foi feito no dia anterior,
                <br />
                identificar impedimentos e priorizar o trabalho do dia que se inicia.
                <br /><br />
                Ao final de um Sprint, a equipe apresenta as funcionalidades implementadas em uma
                Sprint Review Meeting.
                <br /><br />
                Finalmente, faz-se uma Sprint Retrospective e a equipe parte para o planejamento
                do próximo Sprint.
                <br /><br />
                Assim reinicia-se o ciclo.
                <br />
                <br />
                As ferramentas que nos dão suporte para tal prática são:
                <br />
                <br />
                <img alt="" src="../../Content/img/pango.png" class="img-circle logo-ferramenta"/>
                <a href="http://pangoscrum.com/">PangoScrum</a>
                <br />
                É uma ferramenta online para gerenciamento ágil de projetos utilizando Scrum.
                <br />
                <br />
                <img alt="" src="../../Content/img/scrumy.png" class="img-circle logo-ferramenta"/>
                <a href="http://scrumy.com/">Scrumy</a>
                <br />
                É uma ferramenta online que gera um Kanban para os nossos projetos, utilizado para cada Sprint.
                <br />
                <br />
                Se interessou? Entre em contato através do e-mail: <a href="mailto:contato@lotustechbr.com">
                    contato@lotustechbr.com</a>
            </p>
        </div>
    </div>
</div>
