@model dynamic
@{
    ViewBag.Title = "Metodologia de Desenvolvimento";
    Layout = "../Shared/_Layout.cshtml";
}
<div class="content">
    <div class="container">
        <div class="page-header">
            <h1>
                Metodologia de Desenvolvimento</h1>
            <p>
                A palavra da vez é SCRUM.
                <br /><br />
                Se interessou? Entre em contato através do e-mail: <a href="mailto:contato@lotustechbr.com">contato@lotustechbr.com</a>
            </p>
        </div>
    </div>
</div>
