@model dynamic
@{
    ViewBag.Title = "QuemSomos";
    Layout = "../Shared/_Layout.cshtml";
}
<div class="content">
    <div class="container">
        <div class="page-header">
            <h1>
                Quem somos</h1>
            <p>
                Criada em 2012, conta com 4 colaboradores, amigos e
                <br />
                futuros formandos no curso de Sistemas de Informação
                <br />
                da Universidade São Judas Tadeu.
                <br />
                <br />
                <img alt="" src="../../Arquivos/Cliente/cliente-default.png" class="img-circle logo-ferramenta" />
                Dhouglas Lombello
                <br />
                Consultor .NET / Web Master
                <br />
                <br />
                <img alt="" src="../../Arquivos/Cliente/cliente-default.png" class="img-circle logo-ferramenta" />
                Guilherme Amad
                <br />
                Consultor .NET / Analista
                <br />
                <br />
                <img alt="" src="../../Arquivos/Cliente/cliente-default.png" class="img-circle logo-ferramenta" />
                Gustavo Amanai
                <br />
                Consultor .NET / Arquiteto
                <br />
                <br />
                <img alt="" src="../../Arquivos/Cliente/cliente-default.png" class="img-circle logo-ferramenta" />
                Vinicius Narcizo
                <br />
                Consultor .NET / Web Master
                <br />
                <br />
                Trabalhamos com seriedade, companheirismo e dedicação,
                <br />
                queremos sempre o melhor da tecnologia para nossos clientes e para nós.
                <br />
                <br />
                Nosso desafio esta na aplicação <a href="@Url.Action("VemKa", "Home")">VemKa</a>,
                <br />
                sendo a primeira no campo mobile e multiplataforma, atualmente contemplando:
                <br />
                Android 4.1+, Windows Phone 7.5+ e iOS 5+.
                <br />
                <br />
                Se interessou? Entre em contato através do e-mail: <a href="mailto:contato@lotustechbr.com">
                    contato@lotustechbr.com</a>
            </p>
        </div>
    </div>
</div>
