@model dynamic
@{
    ViewBag.Title = "Segurança";
    Layout = "../Shared/_Layout.cshtml";
}
<div class="content">
    <div class="container">
        <div class="page-header">
            <h1>
                Segurança</h1>
            <p>
                Utilizamos criptografia para o transporte de informações privativas, isto é, na autenticação do Login.
                <br /><br />
                Se interessou? Entre em contato através do e-mail: <a href="mailto:contato@lotustechbr.com">
                    contato@lotustechbr.com</a>
            </p>
        </div>
    </div>
</div>
