@model dynamic
@{
    ViewBag.Title = "Segurança";
    Layout = "../Shared/_Layout.cshtml";
}
<div class="content">
    <div class="container">
        <div class="page-header">
            <h1>
                Segurança</h1>
            <p>
                Um Sistema de aviso de promoções por localização GPS, enviando ao usuário promoções
                <br />
                de lojas em formas de mensagem no dispositivo móvel ao chegar a uma distância programada
                <br />
                pela aplicação.
                <br />
                <br />
                Usuário visualiza os quadros de promoções e interage por vontade própria com redes
                <br />
                sociais, distribuindo as mesmas. Desenvolvido para ambiente dispositivo móvel, com
                <br />
                sistema operacional Windows Phone, em fase de migração para as plataformas Android
                <br />
                e iOS, sendo necessário o uso de GPS(localizador), mapas regionais e push-up (apresentação
                <br />
                de informação na tela do dispositivo). Software, desenvolvido em plataforma
                <br />
                Híbrida, envolvendo HTML5, CSS3 e JavaScript, sendo um recurso de comunicação entre
                <br />
                cliente e empresa voltado à publicidade e propaganda, além do conforto do usuário.
                <br />
                <br />
                O aplicativo possui recursos para apresentar ao usuário, ou cliente, publicidade,
                <br />
                propaganda e promoções ao se aproximar de determinado ponto da cidade, onde se localiza
                <br />
                a empresa remetente da informação ou posição pré-definada da promoção. Estas informações
                podem ser cruciais para abordar
                <br />
                o cliente para uma compra, um lazer ou até mesmo um informativo ou jogo, com possíbilidades
                <br />
                ilimitadas. Necessário acesso a internet (através de conexão
                <br />
                Edge ou 3G - outras redes mais avançadas de acordo com a localização do usuário
                <br />
                e disponibilidade de conexão nas mesmas).
                <br />
                Se interessou? <a href="../Cliente/Cadastro">Cadastre-se já e começe a plataforma para
                    lucrar ainda mais com seu negócio!</a> Já é cadastrado? Não tem problema! <a href="../Login/Index">
                        Acesse já o painel de controle de suas promoções!</a> <a href="TodosProdutos">Conheça
                            outros produtos clicando aqui.</a>
            </p>
        </div>
    </div>
</div>
