@model dynamic
@{
    ViewBag.Title = "Todos os Produtos";
    Layout = "../Shared/_Layout.cshtml";
}
<div class="content">
    <div class="container">
        <div class="page-header">
            <h1>
                Todos os Produtos</h1>
            <p>
                Aqui temos todos os nossos produtos:
                <br />
                Nosso produto inicial, um sistema de promocionamento
                <br />
                por aproximação para dispositivos mobile, isto é, atende de igual maneira
                <br />
                os principais sistemas operacionais - Windows Phone 7.5, Android 4.1, iOS 6 e outros
                <br />
                - Proporcionando aos nossos clientes de maneira ágil e eficaz apresentar seus produtos
                <br />
                diariamente para os cliente mais próximos. Conheça mais clicando no link abaixo.
                <br />
                <a href="VemKa">Conheça mais do VemKa - Sistema de Promoções por Aproximação - clicando
                    aqui.</a>
                <br />
                Em breve mais produtos para a sua apreciação.
            </p>
        </div>
    </div>
</div>
