@model dynamic
@{
    ViewBag.Title = "Todos os Produtos";
    Layout = "../Shared/_Layout.cshtml";
}
<div class="content">
    <div class="container">
        <div class="page-header">
            <h1>
                Todos os Produtos</h1>
            <p>
                Nosso produto inicial - VemKa - é um sistema de promocionamento por aproximação para dispositivos mobile, 
                <br />
                que atende de igual maneira os principais sistemas operacionais - Windows Phone 7.5, Android 4.1, iOS 6 e outros - 
                <br />
                proporcionando aos nossos clientes de maneira ágil e eficaz apresentar seus produtos diariamente para os cliente mais próximos. 
                <br />
                <br />
                <a href="VemKa">Conheça mais do VemKa - Sistema de Promoções por Aproximação - clicando
                    aqui.</a>
                <br /><br />
                Em breve mais produtos para a sua apreciação.
            </p>
        </div>
    </div>
</div>
