@model System.Collections.Generic.IEnumerable<br.dominio.Entidades.Exemplo>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>

<h2>@ViewBag.Message</h2>
<p>
    Pacote default Exemplo
</p>
