@model dynamic

@{
    ViewBag.Title = "Login";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="content">
    <div class="container">
        <div class="page-header">
            <h1>Identificação :D</h1>
        </div>
        <div class="row">
            <div class="span6 offset3">
                <h4 class="widget-header">
                    <i class=" icon-thumbs-up"></i> Login
                </h4>
                <div class="widget-body">
                    <div class="center-align">
                        <form class="form-horizontal form-signin-signup">
                            <input type="text" name="email" placeholder="Email">
                            <input type="password" name="password" placeholder="Password">
                            <div class="remember-me">
                                <div class="pull-right">
                                    <a href="#">Esqueci minha senha</a>
                                </div>
                                <br />
                                <div class="clearfix"></div>
                            </div>
                            <input type="" value="logar" class="btn btn-primary btn-large">
                        </form>
                        <h4>Você não tem conta?</h4>
                        <a href="#" class="btn btn-large bottom-space">Cadastre-se</a>                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

