
body
{
    /* padding-top: 60px; */
    padding-top: 5px;
    background-color: #E9B93A;
}
        
.titulo-empresa h3
{
    margin-left: 100px;
    font-size: 200%;
}
        
.titulo-empresa
{
    padding-left: 10px;
    padding-right: 10px;
    font-family: inherit;
    font-weight: bold;
    margin: -20px -20px 10px;
    border-radius: 5px 5px 0 0;
    line-height: 40px;
}
        
.imagem-promocao
{
    margin: 20px;
}
        
.texto-promocao
{
}
        
.texto-promocao.textarea
{
    position: relative;
    left: 30px;
}
        
.span4
{
    margin-bottom: 40px;
}
        
.menu-promocoes
{
    margin-top: -60px;
}
        
.navbar-inner.header
{
    background: #54443D;
    background-image: linear-gradient(to bottom, #54443D, #54443D);
}
        
.btn.pull-right
{
    margin: 5px 1px 0px 1px;
}
        
.navbar-inner.header h
{
    color: #fff;
    font-size: 35px;
    padding: 10px 0px 0px 90px;
}
        
.navbar-inner.footer span
{
    padding: 0px 0px 0px 0px;
}
        
.logo-app
{
    float: auto;
}
        
.navbar-inner.footer
{
    background: #54443D;
    color: #fff;
    text-align: center;
}
        
.corpo-promocoes
{
    padding: 0px 0px;
}
        
.footer-promocoes
{
}
        
.nav.nav-list.lista-promocoes
{
    padding: 0px;
}
        
.titulo-empresa img
{
    margin: 4px 0 0;
}

.thumbnail
{
    padding: 0;
    text-align: center;
    /*min-height: 238px;*/
}

.conteudo{
    min-height:355px;
}

.logo-promocao {
    height:35px;
    width:35px;
}

.logo-lotus {
    margin-left: 15px;
}
