@model dynamic

@{
    ViewBag.Title = "";
    Layout = "../Shared/_Layout.cshtml";
}

@section head
{

}

<div class="container">
@*    <input type="hidden" id="id-cliente" value="@Model.IdCliente"/>
    <input type="hidden" id="alteracao" value="@ViewBag.Alterar"/>*@
    <div class="page-header">
        <h1>Cadastro</h1>
    </div>
    <div class="row">
        <div class="cadastro">
            <div class="span6">
                <div>
                    <label>Nome</label>            
                    <input type="text" class="input-xxlarge" id="nome" name="nome" placeholder="Nome" value="">
                    <span class="error error-nome alert alert-error"></span>
                </div>
                
                <div>
                    <label>CNPJ</label>            
                    <input type="text" class="input-xxlarge" id="cnpj" name="cnpj" placeholder="CNPJ" value="">
                    <span class="error error-cnpj alert alert-error"></span>
                </div>
                
                <div>
                    <label>Responsável</label>            
                    <input type="text" class="input-xxlarge" id="responsavel" name="responsavel" placeholder="Responsável (Nome)" value="">
                    <span class="error error-responsavel alert alert-error"></span>
                </div>

                <div>
                    <label>Email</label>
                    <input type="text" class="input-xxlarge" id="email" name="email" placeholder="Email" value="">
                    <span class="error error-email alert alert-error"></span>
                </div>
                
                <div>
                    <label>Telefone</label>
                    <input type="text" class="input-xxlarge" id="telefone" name="telefone" placeholder="Telefone" value="">
                    <span class="error error-telefone alert alert-error"></span>
                </div>
            </div>
            <div class="span4 well">
                <label><strong>Foto - Promocão</strong></label>
                <hr />
                <div class="row">
                    <div class="row center-align">
                        <img src="" width="160" height="200" alt="Foto" id="fotoPreview" name="fotoPreview" class="foto-preview" style="text-align:center;"></img>
                    </div>
        
                    <br style="clear: both;" />
                    <br style="clear: both;" />
                    <div id="buttons">
                        <div class="span0">
                            <a href="javascript:void(0)" class="btn btn-crop btn-warning pull-left" id="upload-logo">Upload</a>
                            <input type="hidden" id="temp-image" value=""/>  
                            <input type="hidden" id="extension" value=""/>  
                        </div> 
                    </div>
                </div>                        
            </div>

        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <input value="Salvar" class="btn btn-primary btn-small pull-right salvar-cadastro">
        </div>
    </div>   
    <br class="clearfix"/>
</div>





